# Snakemake internals
.snakemake/
# Snakemake queued job logs
snakejob.*

# Ignore data that will be produced by the Snakemake
output/

# Development internals and temporary files
.vscode/
.ipynb_checkpoints
*/.ipynb_checkpoints
*/__pycache__
/tmp